{% extends 'members/base.html' %}

{% block content %}
    </br></br>
    <div style="margin-left: 400px; width: 600px; height: 50px; background-color: rgba(11, 79, 188, 0.5);; display: flex; justify-content: center; align-items: center;">
        <h2>Login</h2>
    </div>
    
    <div style="margin-left: 400px; width: 600px; height: 600px; background-color: rgba(5, 138, 199, 0.5);; display: flex; justify-content: center; align-items: center;">
        
        <form method=POST>
            {% csrf_token %}
            
            </br>
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">UserName</label>
            <input type="text" class="form-control" name="username">
            
            <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{% url 'register' %}" style="color: white;">Register</a>
              


        </form>
    </div>
{% endblock %}